{% extends 'base.html' %}

{% block title %}Список задач{% endblock %}

{% block content %}
    <h2>Список задач</h2>
    <ul class="list-group">
        {% for task in tasks %}
            <li class="list-group-item">
                <h3><a href="{% url 'task_detail' task.pk %}">{{ task.title }}</a></h3>
                <p>{{ task.description }}</p>

                <h4>Коментарі</h4>
                <ul>
                    {% for comment in task.comments.all %}
                        <li>
                            <strong>{{ comment.author.username }}</strong>: {{ comment.content }} <br>

                            {% if comment.file %}
                                {% with comment.file.url as file_url %}
                                    {% if ".jpg" in file_url or ".jpeg" in file_url or ".png" in file_url %}
                                        <img src="{{ file_url }}" alt="Comment Image" style="max-width: 150px; max-height: 150px;" />
                                    {% elif ".mp4" in file_url %}
                                        <video controls style="max-width: 150px; max-height: 150px;">
                                            <source src="{{ file_url }}" type="video/mp4">
                                            Ваш браузер не підтримує відтворення відео.
                                        </video>
                                    {% else %}
                                        <a href="{{ file_url }}">Завантажити файл</a>
                                    {% endif %}
                                {% endwith %}
                            {% endif %}
                        </li>
                    {% empty %}
                        <li>Немає коментарів.</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
