{% extends 'base.html' %}

{% block title %}Список задач{% endblock %}

{% block header %}Список задач{% endblock %}

{% block content %}
    <form method="get">
        {{ filter_form.as_p }}  <!-- Відображаємо форму фільтрації -->
        <button type="submit" class="btn btn-primary">Фільтрувати</button>
    </form>

    <ul>
        {% for task in tasks %}
            <li>
                <a href="{% url 'task_detail' task.id %}">{{ task.title }}</a> - {{ task.status }} - {{ task.priority }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
